Hi,

Your equipment with IP <%= @to_ip%> is not accepting the faxes we are sending to you from IP <%= @from_ip%>.

Could you please double check your side and allow us to send you these faxes?

Thanks and regards,
