Hi,<br>
<br>
Your equipment with IP <%= @to_ip%> is not accepting the faxes we are sending to you from IP <%= @from_ip%>.<br>
<br>
Could you please double check your side and allow us to send you these faxes?<br>
<br>
Thanks and regards,
