<head>
  <title>Inbound fax dashboard</title>
</head>

<body>
  <div id="outer">
    {{> admin}}
  </div>
</body>

<template name="admin">
  <div class="admin">
	<div id="tabs">
		<div id="dialog">
<b>2 X509_V_ERR_UNABLE_TO_GET_ISSUER_CERT: unable to get issuer certificate</b><i>
the issuer certificate of a looked up certificate could not be found. This normally means the list of trusted certificates is not complete.</i>
<br>
<b>3 X509_V_ERR_UNABLE_TO_GET_CRL: unable to get certificate CRL</b><i>
the CRL of a certificate could not be found.
</i><br><b>
4 X509_V_ERR_UNABLE_TO_DECRYPT_CERT_SIGNATURE: unable to decrypt certificate's signature</b><i>
the certificate signature could not be decrypted. This means that the actual signature value could not be determined rather than it not matching the expected value, this is only meaningful for RSA keys.
</i><br><b>
5 X509_V_ERR_UNABLE_TO_DECRYPT_CRL_SIGNATURE: unable to decrypt CRL's signature</b><i>
the CRL signature could not be decrypted: this means that the actual signature value could not be determined rather than it not matching the expected value. Unused.
</i><br><b>
6 X509_V_ERR_UNABLE_TO_DECODE_ISSUER_PUBLIC_KEY: unable to decode issuer public key</b><i>
the public key in the certificate SubjectPublicKeyInfo could not be read.
</i><br><b>
7 X509_V_ERR_CERT_SIGNATURE_FAILURE: certificate signature failure</b><i>
the signature of the certificate is invalid.
</i><br><b>
8 X509_V_ERR_CRL_SIGNATURE_FAILURE: CRL signature failure</b><i>
the signature of the certificate is invalid.
</i><br><b>
9 X509_V_ERR_CERT_NOT_YET_VALID: certificate is not yet valid</b><i>
the certificate is not yet valid: the notBefore date is after the current time.
</i><br><b>
10 X509_V_ERR_CERT_HAS_EXPIRED: certificate has expired</b><i>
the certificate has expired: that is the notAfter date is before the current time.
</i><br><b>
11 X509_V_ERR_CRL_NOT_YET_VALID: CRL is not yet valid</b><i>
the CRL is not yet valid.
</i><br><b>
12 X509_V_ERR_CRL_HAS_EXPIRED: CRL has expired</b><i>
the CRL has expired.
</i><br><b>
13 X509_V_ERR_ERROR_IN_CERT_NOT_BEFORE_FIELD: format error in certificate's notBefore field</b><i>
the certificate notBefore field contains an invalid time.
</i><br><b>
14 X509_V_ERR_ERROR_IN_CERT_NOT_AFTER_FIELD: format error in certificate's notAfter field</b><i>
the certificate notAfter field contains an invalid time.
</i><br><b>
15 X509_V_ERR_ERROR_IN_CRL_LAST_UPDATE_FIELD: format error in CRL's lastUpdate field</b><i>
the CRL lastUpdate field contains an invalid time.
</i><br><b>
16 X509_V_ERR_ERROR_IN_CRL_NEXT_UPDATE_FIELD: format error in CRL's nextUpdate field</b><i>
the CRL nextUpdate field contains an invalid time.
</i><br><b>
17 X509_V_ERR_OUT_OF_MEM: out of memory</b><i>
an error occurred trying to allocate memory. This should never happen.
</i><br><b>
18 X509_V_ERR_DEPTH_ZERO_SELF_SIGNED_CERT: self signed certificate</b><i>
the passed certificate is self signed and the same certificate cannot be found in the list of trusted certificates.
</i><br><b>
19 X509_V_ERR_SELF_SIGNED_CERT_IN_CHAIN: self signed certificate in certificate chain</b><i>
the certificate chain could be built up using the untrusted certificates but the root could not be found locally.
</i><br><b>
20 X509_V_ERR_UNABLE_TO_GET_ISSUER_CERT_LOCALLY: unable to get local issuer certificate</b><i>
the issuer certificate could not be found: this occurs if the issuer certificate of an untrusted certificate cannot be found.
</i><br><b>
21 X509_V_ERR_UNABLE_TO_VERIFY_LEAF_SIGNATURE: unable to verify the first certificate</b><i>
no signatures could be verified because the chain contains only one certificate and it is not self signed.
</i><br><b>
22 X509_V_ERR_CERT_CHAIN_TOO_LONG: certificate chain too long</b><i>
the certificate chain length is greater than the supplied maximum depth. Unused.
</i><br><b>
23 X509_V_ERR_CERT_REVOKED: certificate revoked</b><i>
the certificate has been revoked.
</i><br><b>
24 X509_V_ERR_INVALID_CA: invalid CA certificate</b><i>
a CA certificate is invalid. Either it is not a CA or its extensions are not consistent with the supplied purpose.
</i><br><b>
25 X509_V_ERR_PATH_LENGTH_EXCEEDED: path length constraint exceeded</b><i>
the basicConstraints pathlength parameter has been exceeded.
</i><br><b>
26 X509_V_ERR_INVALID_PURPOSE: unsupported certificate purpose</b><i>
the supplied certificate cannot be used for the specified purpose.
</i><br><b>
27 X509_V_ERR_CERT_UNTRUSTED: certificate not trusted</b><i>
the root CA is not marked as trusted for the specified purpose.
</i><br><b>
28 X509_V_ERR_CERT_REJECTED: certificate rejected</b><i>
the root CA is marked to reject the specified purpose.
</i><br><b>
29 X509_V_ERR_SUBJECT_ISSUER_MISMATCH: subject issuer mismatch</b><i>
the current candidate issuer certificate was rejected because its subject name did not match the issuer name of the current certificate. Only displayed when the -issuer_checks option is set.
</i><br><b>
30 X509_V_ERR_AKID_SKID_MISMATCH: authority and subject key identifier mismatch</b><i>
the current candidate issuer certificate was rejected because its subject key identifier was present and did not match the authority key identifier current certificate. Only displayed when the -issuer_checks option is set.
</i><br><b>
31 X509_V_ERR_AKID_ISSUER_SERIAL_MISMATCH: authority and issuer serial number mismatch</b><i>
the current candidate issuer certificate was rejected because its issuer name and serial number was present and did not match the authority key identifier of the current certificate. Only displayed when the -issuer_checks option is set.
</i><br><b>
32 X509_V_ERR_KEYUSAGE_NO_CERTSIGN:key usage does not include certificate signing</b><i>
the current candidate issuer certificate was rejected because its keyUsage extension does not permit certificate signing.
</i><br><b>
50 X509_V_ERR_APPLICATION_VERIFICATION: application verification failure</b><i>
an application specific error. Unused.
</i><br>
		</div>
		<ul>
			<li><a href="#urls">URLs</a></li>
			<li><a href="#capacity_groups">CAPACITY GROUPs</a></li>
			<li><a href="#dids">DIDs</a></li>
			<li><a href="#settings">Settings</a></li>
		</ul>
		<div id="settings">
			<input type="text" id="minutes">&nbsp;minutes
                        <input type="submit" id="b_add_setting" value="Add"><br>
			<input type="text" id="minutes_for">&nbsp;minutes for
			<input type="text" id="for_quantity">&nbsp;
			<select  id="quantity_unit">
			<option>day</option>
			<option>week</option>
			<option>month</option>
			</select>
			<input type="submit" id="b_add_setting_1" value="Add">
			<input type="hidden" id="email_to" value="email alert">
<br>			<input type="submit" id="b_add_setting_2" value="Add Email Alert">
			<table>
			{{#each settings.all}}
				<tr>{{> setting}}</tr>
			{{/each}}
			</table>
			<hr/>
			<button id="alerts_delete">Reset</button>
		</div>
		<div id="urls">
		<!--form action="/add_url" id="add_url" name="add_url" method="post" -->
			<input type="hidden" id="url_id">	
			<select id='protocol'><option>http</option><option>https</option></select>
			<select id="verb">><option>POST</option></select>
			<input type="text" id="url">
			<input type="text" id="csid"><br>
		<!--	Check Trusted<input type="checkbox" id="ssl1">
                        Check Certificate<input type="checkbox" id="ssl2">
                        Check DN<input type="checkbox" id="ssl3">
-->
			SSL Exceptions:<a href="#" id="ssl_err_detail">details</a><br>
			<textarea rows="2" cols="50" id="ssl_excp"></textarea>
<br>			Description:<br>
                       <textarea rows="2" cols="50" id="description" ></textarea>
			<br>Email(Alerts):
                                <input type="text" id='email'>

			<input type="submit" id="b_add_url" value="Add/Update URL"><br>

			
			Search : <input type="text" id="searchBoxUrl">
                        <input type="submit" id="b_detail_url" value="Details"><br>
			
			<div id="urlSearchResult">

			</div><br>
			<table>	
			{{#each urls}}
				<tr>{{> url}}</tr>
			{{/each}}
			</table>
		</div>
		<div id="dids">
				DID :<input type="hidden" id="did_id">
        	                <input type="text" id='v_number'><br>URL 1:
	                        <select id="s_url">

					{{#each urls}}
        	                                <option value="{{_id}}">{{url_from_id _id}}</option>
	                                {{/each}}

				</select><br>URL 2:
                                <select id="s_url_1">

                                        {{#each urls}}
                                                <option value="{{_id}}">{{url_from_id _id}}</option>
                                        {{/each}}

                                </select><br>Capacity Group :

				<select id="c_group">
						{{#each c_groups}}
							<option value="{{_id}}">{{name}}</option>
						{{/each}}
				</select><br>
        	                <input type="button" id="b_add_did" value="Add/Update DID"><br>

				Search :<input type="text" id="searchBoxDid">	
                        <input type="submit" id="b_detail_did" value="Details"><br>
				<div id="didSearchResult">
				</div><input type="submit" value ="edit" id="b_edit_search_did" >&nbsp;&nbsp;&nbsp;<input type="submit" value ="delete" id="b_delete_search_did" ><br>

                        <table> 
			{{#each dids}}
                                <tr>{{> did}}</tr>
                        {{/each}}
                        </table>
			

		</div>
		<div id="capacity_groups">
			<input type="hidden" id="c_group_id">
			<input type="text" id='c_group_name'>
			<input type="text" id="limit">
			<input type='button' id="b_add_c_group" value="Add/Update Capacity Groups">
			<table>
				{{#each c_groups}}
					<tr>{{> c_group}}</tr>
				{{/each}}
			</table>
		</div>
	</div>
  </div>
</template>
<template name="setting">
	{{#if span}}
		<td>{{minutes}}</td><td>for {{span}} {{unit}}</td>
	{{else }}
		{{#if minutes}}
			<td>{{minutes}}</td>
		{{else}}
			<td>{{email}}</td>
		{{/if}}
	{{/if}}
</template>

<!--template name="setting">
	<td>{{minutes}}</td><td>{{span}}</td><td>{{unit}}</td>	
</template-->


<template name="url">
  <div class="url {{selected}}">
	<td>{{protocol}}</td><td>{{verb}}</td><td>{{url}}</td><td>{{csid}}</td><td>{{description}}</td><td>&nbsp;&nbsp;&nbsp;<button class="delete">delete</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="edit">edit</button></td>	
  </div>

</template>

<template name="did">
  <div class="did {{selected}}">
        <td>{{v_number}}</td><td>{{url_from_id url_id}}</td><td>{{c_group_from_id c_group_id}}</td><td>&nbsp;&nbsp;<button class="delete">delete</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="edit">edit</button></td>

  </div>
</template>

<template name="c_group">
	<div class="c_group {{selected}}">
	<td>{{name}}</td><td>{{limit}}</td><td>&nbsp;&nbsp;<button class="delete">delete</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="edit">edit</button></td>

	</div>
</template>

